In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:/Datasets/heart.csv")

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
df.shape

(303, 14)

In [6]:
y=df["target"]

In [7]:
x=df.drop("target",axis="columns")

In [8]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [16]:
from keras.utils import to_categorical

In [17]:
y=to_categorical(y)

In [18]:
y.shape

(303, 2)

# Specify The Architecture

In [29]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [30]:
model=Sequential()
model.add(Dense(128,activation="relu",input_shape=(13,)))
model.add(Dense(2,activation='softmax'))

# Compile The Model

In [31]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

# Fit The Model

In [32]:
model.fit(x,y,epochs=20)

Epoch 1/20
10/10 [==============================] - 0s 2ms/step - loss: 5.1740 - accuracy: 0.5281
Epoch 2/20
10/10 [==============================] - 0s 931us/step - loss: 1.8933 - accuracy: 0.5842
Epoch 3/20
10/10 [==============================] - 0s 1ms/step - loss: 1.2705 - accuracy: 0.6271
Epoch 4/20
10/10 [==============================] - 0s 1ms/step - loss: 0.9832 - accuracy: 0.6337
Epoch 5/20
10/10 [==============================] - 0s 639us/step - loss: 0.8367 - accuracy: 0.6469
Epoch 6/20
10/10 [==============================] - 0s 1ms/step - loss: 0.6527 - accuracy: 0.6535
Epoch 7/20
10/10 [==============================] - 0s 939us/step - loss: 0.5900 - accuracy: 0.7261
Epoch 8/20
10/10 [==============================] - 0s 786us/step - loss: 0.5740 - accuracy: 0.7096
Epoch 9/20
10/10 [==============================] - 0s 994us/step - loss: 0.6668 - accuracy: 0.6700
Epoch 10/20
10/10 [==============================] - 0s 741us/step - loss: 0.5556 - accuracy: 0.7360
Epoch 11/20
10/10 [==============================] - 0s 927us/step - loss: 0.4984 - accuracy: 0.7624
Epoch 12/20
10/10 [==============================] - 0s 707us/step - loss: 0.5509 - accuracy: 0.7162
Epoch 13/20
10/10 [==============================] - 0s 698us/step - loss: 0.5906 - accuracy: 0.7195
Epoch 14/20
10/10 [==============================] - 0s 709us/step - loss: 0.5992 - accuracy: 0.7063
Epoch 15/20
10/10 [==============================] - 0s 667us/step - loss: 0.4581 - accuracy: 0.7756
Epoch 16/20
10/10 [==============================] - 0s 807us/step - loss: 0.4134 - accuracy: 0.8218
Epoch 17/20
10/10 [==============================] - 0s 715us/step - loss: 0.4604 - accuracy: 0.7789
Epoch 18/20
10/10 [==============================] - 0s 859us/step - loss: 0.4431 - accuracy: 0.7987
Epoch 19/20
10/10 [==============================] - 0s 666us/step - loss: 0.3999 - accuracy: 0.8350
Epoch 20/20
10/10 [==============================] - 0s 1ms/step - loss: 0.4234 - accuracy: 0.8086

# Predict

In [33]:
data=pd.DataFrame({"age":[37],"sex":[0],"cp":[3],"trestbps":[120],"chol":[193],"fbs":[1],"restecg":[1],"thalach":[141],"exang":[0],"oldpeak":[2.3],"slope":[2],"ca":[1],"thal":[1]})

In [34]:
data.shape

(1, 13)

In [35]:
x.shape

(303, 13)

In [36]:
model.predict(data)

array([[0.06244373, 0.9375563 ]], dtype=float32)